   body {
       background-color: powderblue;
       font-family: Verdana;
       max-width: 900px;
       margin: auto;

   }
   .foto {
       border: blue;
       border-radius: 50%;
   }

    #Title,.Subtitle,.Post_title {
        color: black;
    }
    #Title {
        font-size: 40px;
        text-transform: uppercase;
    }
    a {
        text-decoration: line-through;
        color: black;
        text-transform: capitalize;
    }

    .Post_title{
        font-size: 16px;
        font-style: italic;
        margin: 0;
        margin-bottom: 15px;
    }
    .post {
        background-color: white;
        padding:15px ;
        border: 5px solid coral;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .post_content {
        margin: 0;
        margin-bottom: 15px;
        text-align: justify;
    }
    .post_image {
        margin-bottom: 15px;
        width: 100%;
    }
    .content_list{
        list-style-type: none;
        padding-left: 1px;
    }
    .content_list li a {
        color: blue;
        text-decoration: none;
    }