.flex_container{
    display: flex;
    border: 1px solid black;
    max-width: 350px;
    margin-bottom: 10px;
}

.item{
    background-color: powderblue;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}

.shrink0{
    flex-shrink: 0;
    flex-basis: 100px;

}
.shrink1{
    flex-shrink: 1;
    flex-basis: 100px;
}
shrink2{
    flex-shrink: 2;
    flex-basis: 100px;
}
shrink3{
    flex-shrink: 3;
    flex-basis: 100px;
}
.flex_grow1{
    flex-grow: 1;
    flex-basis: 100px;

}
