.flexcontainer{
    max-width: 400px;
    border: 1px solid black;
    display: flex;
}
.item{
    background-color: green ;
    color: black;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}
.flex1{
    flex: 1;
    /* grow = 1 shrink =1  basi=0 */
}


.flex2{
    flex: 2;
    /* grow = 2 shrink =1  basi=0 */
}

.largura{
    width: 200px;
   /* min-width: 250px;*/
}